In [1]:
import pandas as pd
import nltk 
from wordcloud import WordCloud
import matplotlib.pyplot as plt
from googletrans import Translator
from nltk import sent_tokenize, word_tokenize

In [2]:
#importa a base
df = pd.read_csv('./Data_science_linkedin_PORT.csv')
df.head()

,Empresa,Descrição,descricao_port
0,Nubank,About Nubank\r\n\r\nNubank is the leading fina...,Sobre Nubank\r\n\r\nNubank é a principal empre...
1,Jobzia,"Responsibilities\r\n\r\nAs a Senior Associate,...",responsabilidades\r\n\r\nComo Senior Associate...
2,Samsung,Position\r\n\r\n\r\n\r\n1. Contribute to busin...,Posição\r\n\r\n\r\n\r\n1. Contribuir para gest...
3,OYO,We’re a growing hospitality chain on a mission...,Somos uma cadeia de hospitalidade que crescem ...
4,Indigo,"Indigo improves grower profitability, environm...","Indigo melhora a rentabilidade produtor, a sus..."

In [51]:
#põe tudo em minusculo
df['descricao_port'] = df['descricao_port'].str.lower()
df.head()

,Empresa,Descrição,descricao_port
0,Nubank,About Nubank\r\n\r\nNubank is the leading fina...,sobre nubank\r\n\r\nnubank é a principal empre...
1,Jobzia,"Responsibilities\r\n\r\nAs a Senior Associate,...",responsabilidades\r\n\r\ncomo senior associate...
2,Samsung,Position\r\n\r\n\r\n\r\n1. Contribute to busin...,posição\r\n\r\n\r\n\r\n1. contribuir para gest...
3,OYO,We’re a growing hospitality chain on a mission...,somos uma cadeia de hospitalidade que crescem ...
4,Indigo,"Indigo improves grower profitability, environm...","indigo melhora a rentabilidade produtor, a sus..."

In [52]:
#remove digitos
df['descricao_port'] = df['descricao_port'].str.replace(r'[0-9]', '')
df.head()

,Empresa,Descrição,descricao_port
0,Nubank,About Nubank\r\n\r\nNubank is the leading fina...,sobre nubank\r\n\r\nnubank é a principal empre...
1,Jobzia,"Responsibilities\r\n\r\nAs a Senior Associate,...",responsabilidades\r\n\r\ncomo senior associate...
2,Samsung,Position\r\n\r\n\r\n\r\n1. Contribute to busin...,posição\r\n\r\n\r\n\r\n. contribuir para gestã...
3,OYO,We’re a growing hospitality chain on a mission...,somos uma cadeia de hospitalidade que crescem ...
4,Indigo,"Indigo improves grower profitability, environm...","indigo melhora a rentabilidade produtor, a sus..."

In [53]:
#remove "erros de importação"
df['descricao_port'] = df['descricao_port'].str.replace('\r', ' ')
df['descricao_port'] = df['descricao_port'].str.replace('\n', ' ')
df.head()

,Empresa,Descrição,descricao_port
0,Nubank,About Nubank\r\n\r\nNubank is the leading fina...,sobre nubank nubank é a principal empresa d...
1,Jobzia,"Responsibilities\r\n\r\nAs a Senior Associate,...","responsabilidades como senior associate, vo..."
2,Samsung,Position\r\n\r\n\r\n\r\n1. Contribute to busin...,posição . contribuir para gestão de neg...
3,OYO,We’re a growing hospitality chain on a mission...,somos uma cadeia de hospitalidade que crescem ...
4,Indigo,"Indigo improves grower profitability, environm...","indigo melhora a rentabilidade produtor, a sus..."

In [54]:
#remove stopwords
stopwords = set(nltk.corpus.stopwords.words('portuguese'))
def remove_stopwords(text):
    return [word for word in text.split() if word not in stopwords]

In [55]:
df['norm'] = df['descricao_port'].apply(remove_stopwords)

In [56]:
def rejoin_words(row):
    my_list = row['norm']
    joined_words = ( " ".join(my_list))
    return joined_words

df['norm_1'] = df.apply(rejoin_words, axis=1)

In [57]:
df.head()

,Empresa,Descrição,descricao_port,norm,norm_1
0,Nubank,About Nubank\r\n\r\nNubank is the leading fina...,sobre nubank nubank é a principal empresa d...,"[sobre, nubank, nubank, principal, empresa, te...",sobre nubank nubank principal empresa tecnolog...
1,Jobzia,"Responsibilities\r\n\r\nAs a Senior Associate,...","responsabilidades como senior associate, vo...","[responsabilidades, senior, associate,, você?,...","responsabilidades senior associate, você? ll t..."
2,Samsung,Position\r\n\r\n\r\n\r\n1. Contribute to busin...,posição . contribuir para gestão de neg...,"[posição, ., contribuir, gestão, negócios,, re...","posição . contribuir gestão negócios, resolven..."
3,OYO,We’re a growing hospitality chain on a mission...,somos uma cadeia de hospitalidade que crescem ...,"[cadeia, hospitalidade, crescem, missão, criar...",cadeia hospitalidade crescem missão criar espa...
4,Indigo,"Indigo improves grower profitability, environm...","indigo melhora a rentabilidade produtor, a sus...","[indigo, melhora, rentabilidade, produtor,, su...","indigo melhora rentabilidade produtor, sustent..."

In [58]:
#Retira acentuação
df['norm_1'] = df['norm_1'].str.normalize('NFKD').str.encode('ascii', 'ignore').str.decode('utf-8')
df.head()

,Empresa,Descrição,descricao_port,norm,norm_1
0,Nubank,About Nubank\r\n\r\nNubank is the leading fina...,sobre nubank nubank é a principal empresa d...,"[sobre, nubank, nubank, principal, empresa, te...",sobre nubank nubank principal empresa tecnolog...
1,Jobzia,"Responsibilities\r\n\r\nAs a Senior Associate,...","responsabilidades como senior associate, vo...","[responsabilidades, senior, associate,, você?,...","responsabilidades senior associate, voce? ll t..."
2,Samsung,Position\r\n\r\n\r\n\r\n1. Contribute to busin...,posição . contribuir para gestão de neg...,"[posição, ., contribuir, gestão, negócios,, re...","posicao . contribuir gestao negocios, resolven..."
3,OYO,We’re a growing hospitality chain on a mission...,somos uma cadeia de hospitalidade que crescem ...,"[cadeia, hospitalidade, crescem, missão, criar...",cadeia hospitalidade crescem missao criar espa...
4,Indigo,"Indigo improves grower profitability, environm...","indigo melhora a rentabilidade produtor, a sus...","[indigo, melhora, rentabilidade, produtor,, su...","indigo melhora rentabilidade produtor, sustent..."

In [59]:
#remoção de pontuação
import string

translation_table = str.maketrans({key: ' ' for key in string.punctuation}) 

def remove_punctuation(text):
    return text.translate(translation_table)

In [60]:
df['norm_1'] = df['norm_1'].apply(remove_punctuation)
df.head()

,Empresa,Descrição,descricao_port,norm,norm_1
0,Nubank,About Nubank\r\n\r\nNubank is the leading fina...,sobre nubank nubank é a principal empresa d...,"[sobre, nubank, nubank, principal, empresa, te...",sobre nubank nubank principal empresa tecnolog...
1,Jobzia,"Responsibilities\r\n\r\nAs a Senior Associate,...","responsabilidades como senior associate, vo...","[responsabilidades, senior, associate,, você?,...",responsabilidades senior associate voce ll t...
2,Samsung,Position\r\n\r\n\r\n\r\n1. Contribute to busin...,posição . contribuir para gestão de neg...,"[posição, ., contribuir, gestão, negócios,, re...",posicao contribuir gestao negocios resolven...
3,OYO,We’re a growing hospitality chain on a mission...,somos uma cadeia de hospitalidade que crescem ...,"[cadeia, hospitalidade, crescem, missão, criar...",cadeia hospitalidade crescem missao criar espa...
4,Indigo,"Indigo improves grower profitability, environm...","indigo melhora a rentabilidade produtor, a sus...","[indigo, melhora, rentabilidade, produtor,, su...",indigo melhora rentabilidade produtor sustent...

In [79]:
df_normalizada = df[['Empresa','norm_1']]

In [80]:
#exporta a base para importar para o R
df_normalizada.to_csv('./normalizada_PORT.csv', index=False)